body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.03em;
}

:root {
    --main_color: #2945FF;
}

.lightblue {
    background-color: #F4F5FF;;
}

/* Navbar Section */

.nav {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.fashion_container {
    flex-grow: 1;
}

.navigate_container {
    display: flex;
    
}

.menu {
    display: flex;
    align-items: center;
    gap: 64px;
}

.menu_link {
    text-decoration: none;
}

.menu_item {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}

.menu_item:hover {
    border: solid;
    padding: 14px 24px;
    color: var(--main_color);
    border-radius: 24px;
    background-color: var(--main_color);
}

.menu_item:hover .menu_link {
    color: #fff;
}

.fashion_text {
    font-weight: 600;
    font-size: 26px;
    color: #000000;
    position: relative;
}

.fashion_text::after {
    content: "";
    border: 2px solid var(--main_color); 
    background-color: var(--main_color);
    width: 14px;   
    position: absolute;
    top: 25px;
    left: 170px;
}

@media (min-width: 768px) {
    .menu_button {
        display: none;
    }
}

@media (max-width: 768px) {
    .navigate_container {
        display: none;
    }

    .fashion_container {
        padding-left: 21px;
    }

    .menu_button {
        display: inline-block;
        cursor: pointer;
        margin-right: 21px;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: var(--main_color);
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

      .change .bar2 {opacity: 0;}
      .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }
}

/* Header Section */

.header {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
    gap: 50px;
}

.header_text_container {
    max-width: 443px;
}

.header_title {
    font-weight: 600;
    font-size: 68px;
    color: #000545;
}

.header_text {
    color: #393F4D;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.learn_more_btn {
    min-width: 178px;
    padding: 19px 42px;
    color: #fff;
    background-color: var(--main_color);
    border-radius: 100px;
    border: none;
}

.header_img_container {
    position: relative;
}

.img_dot_header_left,
.img_dot_header_right {
    position: absolute;
    z-index: -1;
}

.img_dot_header_left {
    top: -25px;
    left: -25px;
}

.img_dot_header_right {
    bottom: -45px;
    right: -35px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .learn_more_btn {
        font-size: 18px;
        border-radius: 60px;
        margin: auto;
        width: 100%;
    }
}

/* News Reel */

.news_section {
    max-width: 2720px;
    width: 100%;
    margin: 144px auto 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.news_img_top {
    position: relative;
}

.news_dot_top {
    position: absolute;
    top: -91px;
    left: -45px;
    z-index: -1;
}

.news_img_bot {
    position: relative;
}

.news_dot_bot {
    position: absolute;
    top: -45px;
    left: -37px;
    z-index: -1;
}

.date {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: #A5AEED;
    margin-top: -6px;
    margin-bottom: -70px;
}

.news_text_top {
    margin-left: 124px;
}

.news_text_bot {
    margin-right: 124px;
}

.news_header {
    max-width: 430px;
}

.news_main_text {
    max-width: 395px;
}

.news_top_container,
.news_bot_container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.news_bot_container {
    margin-top: 150px;
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .news_section,
    .news_top_container,
    .news_bot_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .news_header,
    .news_main_text {
        max-width: 304px;
    }

    .news_text_top,
    .news_text_bot {
        margin: 0 auto;
        padding-top: 50px;
    }
}


/* Bag Section */

.main {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.inf_text {
    font-weight: 600;
    font-size: 24px;
    color: var(--main_color);
}


.kyb_text {
    display: inline-block;
    font-weight: 600;
    font-size: 38px;
    color: #000545;
}

.clutch_link, .backpack_link, .traveller_link {
    text-decoration: none;
    display: inline-block;
    margin: 56px 25px 33px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 30px 0 24px 0;
}


.clutch_header, .backpack_header, .traveller_header {
    font-weight: 600;
    font-size: 24px;
    color: #000545;
}

.clutch_text, .backpack_text, .traveller_text {
    margin: 16px 48px 23px 48px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #393F4D;
}

.learn_more {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    color: var(--main_color);
    text-decoration: none;
    position: relative;
}

.learn_more::after {
    content: "";
    width: 21px;
    border: 2px var(--main_color) solid;
    background-color: var(--main_color);
    margin: 13px auto;
    position: absolute;
    top: 13px;
    left: 28px;
}

.container_hover:hover {
    background-color: var(--main_color);
    box-shadow: 0px 11px 17px rgba(41, 69, 255, 0.2);
    border-radius: 24px;
    cursor: url(img/cursor.png), auto;
}

.container_hover:hover .hover{
    color: #fff;
}

.container_hover:hover .learn_more:after {
    border: 2px #fff solid;
    background-color: #fff;
}


@media (min-width: 768px) {
    .main {
        display: flex;
        flex-direction: row;
    }

    .learn_more::after {
        left: 1px;
    }

    .inf_container {
        margin: 87px 0 0 148px;
    }

    .kyb_container {
        margin: 26px 0 0 147px;
    }
}

/*Reviews Section*/

.container_reviews {
    margin: 150px auto 150px;
    max-width: 1200px;
    width: 100%;
}

.over {
    overflow: auto;
}

.review_main {
    display: flex;
    flex-direction: row;
    gap: 34px;
}

.review_card {
    width: 466px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(219, 179, 120, 0.4);
    border-radius: 12px;
    align-items: center;
    padding: 25px 57px 34px;
    flex-shrink: 0;
}

.reviews_head {
    max-width: 400px;
    font-weight: 600;
    font-size: 51px;
    line-height: 111%;
    letter-spacing: -0.03em;
    color: #000545;
}

.review_img {
    border-radius: 50%;
    width: 108px;
}

.card_header {
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #000545;
}

.card_text {
    font-weight: 300;
    font-size: 13px;
    letter-spacing: -0.03em;
    line-height: 26px;
    color: #393F4D;
    text-align: center;
}

.herm {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: var(--main_color);
}

.shop_btn {
    border: 1px solid var(--main_color);
    border-radius: 69px;
    background: #FFFFFF;
    padding: 19px 62px;
    font-weight: 600;
    color: var(--main_color);
}

/* Signup section */

.signup_main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.pic_main {
    position: relative;
}

.pic_main::before {
    content: "";
    width: 93%;
    height: 78%;
    background-color: var(--main_color);
    position: absolute;
    top: -24px;
    right: -38px;
    z-index: -1;
}

.img_dot_left,
.img_dot_right {
    position: absolute;
    z-index: -1;
}

.img_dot_left {
    top: -25px;
    left: -25px;
}

.img_dot_right {
    bottom: -45px;
    right: -35px;
}

.signup_text_container {
    position: absolute;
    top: 58px;
    right: 30px;
    min-width: 380px;
    max-width: 480px;
}

.signup_header {
    font-weight: 600;
    font-size: 68px;
    color: #fff;
}

.signup_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}

.signup_btn {
    min-width: 178px;
    max-width: 301px;
    padding: 19px 38px;
    color: #fff;
    background-color: var(--main_color);
    border-radius: 100px;
    border: none;
}

@media (max-width: 768px) {
    .hide{
        display: none;
    }

    .signup_main {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media (max-width: 1200px) {
    .pic_main::before {
        content: "";
        width: 100%;
        background-color: var(--main_color);
        position: absolute;
        top: 100%;
        right: 0;
    }

    .signup_text_container {
        top: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        position: absolute;
        width: 100%;
        max-width: 1200px;
    }

    .signup_header {
        font-size: 37px;
    }
    
    .signup_text {
        font-size: 10px;
    }

}

/* Brands Section */

.brands_container{
	width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.brands_main {
	font-weight: 600;
	font-size: 38px;
	line-height: 42px;
	letter-spacing: -0.03em;
	color: #000545;
    margin-top: 200px;
}

@media (max-width: 768px) {
    .brands_main {
        margin-top: 400px;
    }
   
}

.brands_logos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

.brands_image {
	width: 100%;
	height: 90px;
	border: 1px solid #000;
	border-radius: 24px;
	background-color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 136px 39px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
}

.col {
    width: calc(33.33% - 32px);
    margin: 16px;
}

.brands_image:hover {
    background-color: var(--main_color);
    border: none;
}

.brands_image:hover svg {
    fill: #FFF;
}

.brands_image:hover path {
    stroke: #FFF;
}

@media (max-width: 1200px) {

	.brands_container {
		max-width: 1142px;
		margin: 600px auto 0;
	}

	.brands_main {
		width: 100%;
		max-width: 500px;
		font-size: 51px;
		line-height: 77px;
	}

	.brand_logos {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap:  15px;
		margin: 0 auto;
	}	

	.brands_image {
		width: 100%;
        padding: 136px 39px;
		border: 1px solid #000;
		border-radius: 24px;
		background-color: #FFF;
	}
}

@media (max-width: 768px) {
    .col {
        width: calc(50% - 32px);
    }

    .brand_main {
        margin-top: 400px;
    }
}